<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../output.css"> 
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <header>
        <nav class="flex items-center justify-between p-4">
          <div class="flex items-center gap-10 ">
            <h1 class="text-xl font-bold text-black">Spactacle</h1>
            <button class="font-semibold hover:underline">Catégorie</button>
            <button class="font-semibold hover:underline">Spectacle</button>
            <button class="font-semibold hover:underline">Salle</button>
            <button class="font-semibold hover:underline">Artiste</button>
            <button class="font-semibold hover:underline">Les mieux notés</button>
          </div>
        
          <div class="flex items-center gap-4">
            <input
              type="text"
              placeholder="Rechercher"
              class="p-2 w-64 rounded-md bg-gray-100 text-black"
            />
            <button class="bg-blue-600 text-white font-bold py-2 px-4 rounded-md">
              Connexion
            </button>
        </nav>
        <div class="border-t-2 border-gray-200 mt-2"></div>
      </header>
      <div class="flex items-center justify-center gap-6  m-6">
        <div class="bg-white border border-gray-200 rounded-lg shadow-lg overflow-hidden p-6">
          <h1 class="border-gray-200 border-b-2 text-xl inline-block pb-2">Titre du spectacle</h1>
            <div class="flex justify-center m-6">
              <div class="p-6">
                <p class="">Description :</p>
                <p>Titre</p>
                <p>Note</p>
                <p>Commentaire</p>
              </div>
              <div class="flex flex-col p-6">
                <h1 class="text-xl ">Page de réservation</h1>
                <p>Nombre de réservation :</p>
                <p>En cours</p>
                <button class="bg-blue-600 text-white font-bold py-2 px-4 rounded-md">Reservation</button>
              </div>
            </div>
        </div>
      </div>
   
</body>
</html>