<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../output.css"> 
</head>
<body>
  <header>
    <nav class="flex items-center justify-between p-4">
      <div class="flex items-center gap-10 ">
        <h1 class="text-xl font-bold text-black">Spactacle</h1>
        <button class="font-semibold hover:underline">Catégorie</button>
        <button class="font-semibold hover:underline">Spectacle</button>
        <button class="font-semibold hover:underline">Salle</button>
        <button class="font-semibold hover:underline">Artiste</button>
        <button class="font-semibold hover:underline">Les mieux notés</button>
      </div>
    
      <div class="flex items-center gap-4">
        <input
          type="text"
          placeholder="Rechercher"
          class="p-2 w-64 rounded-md bg-gray-100 text-black"
        />
        <button class="bg-blue-600 text-white font-bold py-2 px-4 rounded-md">
          Connexion
        </button>
    </nav>
    <div class="border-t-2 border-gray-200 mt-2"></div>
  </header>

  <div class="flex flex-wrap justify-between gap-6  m-6">
  <div class="w-[400px]  bg-white border border-gray-200 rounded-lg shadow-lg overflow-hidden p-6">
      <h1 class="text-center text-lg font-semibold text-gray-900">Lieux</h1>
      <div class="p-4">
        <div class="flex justify-center items-center">
          <h2 class="text-lg font-semibold text-gray-900">Nom de la ville</h2>
        </div>
        <p class="text-center text-gray-600 text-sm mt-2">Nombre de Spectacle</p>
        <div class="mt-4 flex justify-center">
          <button class="text-sm font-semibold hover:underline">Afficher</button>
        </div>
      </div>
    </div>

    <div class="w-[400px]  bg-white border border-gray-200 rounded-lg shadow-lg overflow-hidden p-6">
      <h1 class="text-center text-lg font-semibold text-gray-900">Lieux</h1>
      <div class="p-4">
        <div class="flex justify-center items-center">
          <h2 class="text-lg font-semibold text-gray-900">Nom de la ville</h2>
        </div>
        <p class="text-center text-gray-600 text-sm mt-2">Nombre de Spectacle</p>
        <div class="mt-4 flex justify-center">
          <button class="text-sm font-semibold hover:underline">Afficher</button>
        </div>
      </div>
    </div>

    <div class="w-[400px]  bg-white border border-gray-200 rounded-lg shadow-lg overflow-hidden p-6">
      <h1 class="text-center text-lg font-semibold text-gray-900">Lieux</h1>
      <div class="p-4">
        <div class="flex justify-center items-center">
          <h2 class="text-lg font-semibold text-gray-900">Nom de la ville</h2>
        </div>
        <p class="text-center text-gray-600 text-sm mt-2">Nombre de Spectacle</p>
        <div class="mt-4 flex justify-center">
          <button class="text-sm font-semibold hover:underline">Afficher</button>
        </div>
      </div>
    </div>

    <div class="w-[400px]  bg-white border border-gray-200 rounded-lg shadow-lg overflow-hidden p-6">
      <h1 class="text-center text-lg font-semibold text-gray-900">Lieux</h1>
      <div class="p-4">
        <div class="flex justify-center items-center">
          <h2 class="text-lg font-semibold text-gray-900">Nom de la ville</h2>
        </div>
        <p class="text-center text-gray-600 text-sm mt-2">Nombre de Spectacle</p>
        <div class="mt-4 flex justify-center">
          <button class="text-sm font-semibold hover:underline">Afficher</button>
        </div>
      </div>
    </div>
  </div> 
  

</body>
</html>
