<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    <link rel="stylesheet" href="./output.css"> 
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body >
    <header>
        <nav class="flex items-center justify-between p-4">
          <div class="flex items-center gap-10 ">
            <h1 class="text-xl font-bold text-black">Scriptacle</h1>
            <button class="font-semibold hover:underline">Catégorie</button>
            <button class="font-semibold hover:underline">Spectacle</button>
            <button class="font-semibold hover:underline">Salle</button>
            <button class="font-semibold hover:underline">Artiste</button>
            <button class="font-semibold hover:underline">Les mieux notés</button> >
          </div>
        
          <div class="flex items-center gap-4">
            <input
              type="text"
              placeholder="Rechercher"
              class="p-2 w-64 rounded-md bg-gray-100 text-black"
            />
            <button class="bg-blue-600 text-white font-bold py-2 px-4 rounded-md">
              Connexion
            </button>
        </nav>
        <div class="border-t-2 border-gray-200 mt-2"></div>
    </header>

    <div class="bg-gray-100 flex justify-center">
        <div class="bg-white rounded-lg shadow-lg p-8 box-border m-6">
            <h2 class="text-3xl font-bold text-center mb-8 text-gray-700">Connexion</h2>
            <form act ion="login.php" method="POST">
                <div class="mb-6">
                    <label for="email" class="block text-gray-700 text-lg">Email</label>
                    <input type="email" name="email" id="email" 
                       class="w-full px-6 py-4 text-lg border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" />
                </div>
                <div class="mb-6">
                    <label for="password" class="block text-gray-700 text-lg">Mot de passe</label>
                    <input type="password" name="password" id="password" 
                       class="w-full px-6 py-4 text-lg border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" />
                </div>
                <button type="submit" 
                    class="w-full bg-blue-500 text-black py-4 text-lg rounded-lg hover:bg-blue-600 transition">
                    Connexion
                </button>
                <p class="text-sm text-gray-600 text-center mt-6">
                    Pas encore inscrit ? <a href="register.php" class="text-blue-500 hover:underline">Créer un compte</a>
                </p>
        </form>
        </div>
    </div>
    
</body>
</html>
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    <link rel="stylesheet" href="./output.css"> 
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body >
    <header>
        <nav class="flex items-center justify-between p-4">
            <div class="flex items-center gap-10 ">
                <a class="text-xl font-bold text-black" href="index.html">Scriptacle</a>
                <button class="font-semibold hover:underline">Catégorie</button>
                <button class="font-semibold hover:underline">Spectacle</button>
                <button class="font-semibold hover:underline">Salle</button>
                <button class="font-semibold hover:underline">Artiste</button>
                <button class="font-semibold hover:underline">Les mieux notés</button> 
              </div>
        
          <div class="flex items-center gap-4">
            <input
              type="text"
              placeholder="Rechercher"
              class="p-2 w-64 rounded-md bg-gray-100 text-black"
            />
            <button class="bg-blue-600 text-white font-bold py-2 px-4 rounded-md">
              Connexion
            </button>
        </nav>
        <div class="border-t-2 border-gray-200 mt-2"></div>
    </header>

    <div class="bg-gray-100 min-h-screen flex justify-center items-center">
        <div class="bg-white rounded-lg shadow-lg p-8 box-border m-6 ">
            <h2 class="text-3xl font-bold text-center mb-8 text-gray-700">Connexion</h2>
            <form act ion="login.php" method="POST">
                <div class="mb-6">
                    <label for="email" class="block text-gray-700 text-lg">Email</label>
                    <input type="email" name="email" id="email" 
                       class="w-full px-6 py-4 text-lg border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" />
                </div>
                <div class="mb-6">
                    <label for="password" class="block text-gray-700 text-lg">Mot de passe</label>
                    <input type="password" name="password" id="password" 
                       class="w-full px-6 py-4 text-lg border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" />
                </div>
                <button type="submit" 
                    class="w-full bg-blue-500 text-black py-4 text-lg rounded-lg hover:bg-blue-600 transition">
                    Connexion
                </button>
                <p class="text-sm text-gray-600 text-center mt-6">
                    Pas encore inscrit ? <a href="register.php" class="text-blue-500 hover:underline">Créer un compte</a>
                </p>
        </form>
        </div>
    </div>
    
</body>
</html>
